button {
    background-color: transparent;
    border: none;
}

#header {
    margin: 2rem auto;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header > img {
    height: 4rem;
}

#header > h1 {
    font-size: 2rem;
    color: white;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 4rem;
    width: 100%;
}

#count-questions {
    margin-top: 0.5rem;
    text-transform: uppercase;
}

#cards {
    margin-bottom: 5rem;
}

#result {
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 11rem;
    justify-content: space-around;
    margin: 0.5rem 0;
}

#result p:nth-child(1) {
    font-weight: bold;
}

#result p:nth-child(2) {
    text-align: center;
}

#resps {
    margin: 0.5rem 0;
}