
#header {
    margin: 2rem auto;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header > img {
    height: 4rem;
}

#header > h1 {
    font-size: 2rem;
    color: white;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 4rem;
    width: 100%;
}

/* 
@media (max-width: 614px) {
    #header {
        width: 63%;
    }
} */